{namespace m=VOV\Thosuachua\ViewHelpers}
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    
    <div class="main-container" style="padding-top: 10px !important">
        <article class="teaser-list">
            <header>
                <h2 style="height: 24px;">Việc Tìm Thợ</h2>
                <i class="icon-content">
                    <p class="glyphicon glyphicon-th"></p>
                </i>
            </header>
               <br> 
            <div class="content-home">
                <div class="same-height">

                    <m:Paginate objects="{viectimthos}" as="paginatedObjekt" configuration="{itemsPerPage: 10, insertAbove: 0, insertBelow: 1}">
                        <f:for each="{paginatedObjekt}" as="viectimtho" iteration="fooIterator">
                            <div class="news">
                                <span><f:format.date date="now" format="d.m.Y" />&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;
                                    <f:link.action pageUid="54"  controller="Viectimtho"  action="show" arguments="{viectimtho: viectimtho}">
                                        <f:format.crop maxCharacters="50">{viectimtho.title}</f:format.crop>
                                    </f:link.action></span>
                                <p>
                                <f:link.action pageUid="54"  controller="Viectimtho"  action="show" arguments="{viectimtho: viectimtho}">
                                    <f:format.crop maxCharacters="150">{viectimtho.noidung}</f:format.crop>    
                                </f:link.action>
                                </p>
                            </div>
                        </f:for>      
                    </m:Paginate>

                </div>
     
            </div>
        </article>
    </div>

    <f:comment>
        <h1>Listing for Viectimtho</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_thosuachua" >
	<tr>
		<th><f:translate key="tx_thosuachua_domain_model_viectimtho.title" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_viectimtho.noidung" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_viectimtho.hinhanh" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_viectimtho.tailieu" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_viectimtho.tennguoitim" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_viectimtho.mieutacongviec" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_viectimtho.diachi" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_viectimtho.email" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_viectimtho.phone" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_viectimtho.fax" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_viectimtho.www" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_viectimtho.lienhe" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_viectimtho.batdau" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_viectimtho.ketthuc" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{viectimthos}" as="viectimtho">
		<tr>
			<td><f:link.action action="show" arguments="{viectimtho : viectimtho}"> {viectimtho.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{viectimtho : viectimtho}"> {viectimtho.noidung}</f:link.action></td>
			<td><f:link.action action="show" arguments="{viectimtho : viectimtho}"> {viectimtho.hinhanh.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{viectimtho : viectimtho}"> {viectimtho.tailieu.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{viectimtho : viectimtho}"> {viectimtho.tennguoitim}</f:link.action></td>
			<td><f:link.action action="show" arguments="{viectimtho : viectimtho}"> {viectimtho.mieutacongviec}</f:link.action></td>
			<td><f:link.action action="show" arguments="{viectimtho : viectimtho}"> {viectimtho.diachi}</f:link.action></td>
			<td><f:link.action action="show" arguments="{viectimtho : viectimtho}"> {viectimtho.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{viectimtho : viectimtho}"> {viectimtho.phone}</f:link.action></td>
			<td><f:link.action action="show" arguments="{viectimtho : viectimtho}"> {viectimtho.fax}</f:link.action></td>
			<td><f:link.action action="show" arguments="{viectimtho : viectimtho}"> {viectimtho.www}</f:link.action></td>
			<td><f:link.action action="show" arguments="{viectimtho : viectimtho}"> {viectimtho.lienhe}</f:link.action></td>
			<td><f:link.action action="show" arguments="{viectimtho : viectimtho}"> {viectimtho.batdau}</f:link.action></td>
			<td><f:link.action action="show" arguments="{viectimtho : viectimtho}"> {viectimtho.ketthuc}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{viectimtho : viectimtho}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{viectimtho : viectimtho}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Viectimtho</f:link.action>
    </f:comment>

</f:section>