<f:layout name="Default" />


This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <br><br>
    <div data-example-id="table-within-panel" class="bs-example">
        <div class="panel panel-default"> 
    
            <div class="panel-heading"><b>Thông Tin Tài Khoản</b> <b style="float: right"><f:cObject typoscriptObjectPath="lib.loginContent" /></b> </div> 
            <div class="panel-body"> 
                <div class="row">
                    <p style="color: #3374AD;">
                        Để khách hàng có đủ thông tin về công ty hay nhóm thợ của quí vị. Quí vị ádasd
                    </p>
                </div>   
            </div>    
            <table class="table"> 
                <tbody> 
                    <tr> 
                        <td   style=" width: 50% "><b>Tên tài khoản</b></td> 
                        <td style=" ">{nhomtho.lastName} {nhomtho.firstName}</td> 
                    </tr> 
                    <tr> 
                        <td   style="color: #3374AD; width: 20% "><b>Tên tài khoản</b></td> 
                        <td style="color: #3374AD; ">{nhomtho.username}</td> 
                    </tr> 
                    <tr> 
                        <td   style="color: #3374AD; ">E-mail</td> 
                        <td style="color: #3374AD; ">{nhomtho.email} </td> 
                    </tr> 
                    <tr> 
                        <td   style="color: #3374AD; ">Newsletter ( Nhận tin mới từ hệ thống)</td> 
                        <td style="color: #3374AD; ">Có </td> 
                    </tr> 
                    <tr> 
                        <td   style="color: #3374AD; ">Hình ảnh</td> 
                        <td style="color: #3374AD; "><img width="190px;" src="http://www.drodd.com/images10/flower-wallpaper-10.jpg"></td> 
                    </tr> 
                </tbody> 
            </table>


        </div> 
        <div class="row">   
            <div class="col-md-12">
                <a class="pull-right btn btn-primary" style="font-weight: bold;font-size: 20px;"  href="admin/thay-doi">Thay Đổi Tài Khoản</a>
            </div>     
        </div>
    </div>
  

        <br> 
        <br>    
        <div data-example-id="table-within-panel" class="bs-example">
            <div class="panel panel-default"> 

                <div class="panel-heading"><b>Thông Tin Công Ty/Nhóm Thợ</b></div> 
                <div class="panel-body"> 

                    <p>
                        Tại đây quí vị có thể tạo mẩu tin mới.Để tạo mẩu tin mới thành công quí vị phải điền đầy một số mục 
                        bắt buộc, như mục đích, nội dụng, địa điểm.  <br>
                        Hiện tại quí vị được đăng tối đa 3 mẩu tin. Mỗi mẩu tin được tải lên tối đa một hình ảnh và hình ảnh không
                        quá 200kB.<br>
                        Mẩu tin của quí ví chỉ được kích hoạt một tháng, sau đó sẽ tự động ẩn. Nếu quí vị muốn mẩu tin tiếp 
                        tuc hiển thị, quí vị đơn giản ấn vào nút kích hoạt, sau đó mẩu tin được kích hoạt tiếp một tháng.
                        Trường hợp mẩu tin đăng hiển thị, nếu quí vị muốn tắt hiển thị, quí vị đơn giản ấn vào nút ẩn bên cạch mẩu tin. <br>
                        Nếu quí vị gặp khó khăn trong bất kỳ khâu nào, chúng tôi sẵn sàng tư vấn cho quí vị.
                        Quí vị có thể liên với chúng tôi qua emai hoặc điện thoại, báo cho chúng tôi biết nội dung yêu cầu và
                        địa chỉ email mà quí vị dùng cho việc đăng nhập hệ thống của chúng tôi.

                    </p>
                </div>    
                <table class="table"> 

                    <tbody> 
                        <tr> 
                            <td   style="color: #3374AD; width: 20% "><b>Tên Công Ty/Nhóm Thợ</b></td> 
                            <td style="color: #3374AD; ">{nhomtho.ten}</td> 
                        </tr> 
                        <tr> 
                            <td   style="color: #3374AD; width: 20% "><b>Nhóm Ngành</b></td> 
                            <td style="color: #3374AD; ">Nếu quí vị gặp khó khăn trong bất</td> 
                        </tr> 
                        <tr> 
                            <td   style="color: #3374AD; width: 20% "><b>Chuyên Ngành</b></td> 
                            <td style="color: #3374AD; ">Nếu quí vị gặp khó khăn trong bất</td> 
                        </tr> 
                        <tr> 
                            <td   style="color: #3374AD; ">Miêu tả công ty</td> 
                            <td style="color: #3374AD; ">{nhomtho.mieuta}  </tr> 
                        <tr> 
                            <td   style="color: #3374AD; ">Tĩnh/Thành Phố</td> 
                            <td style="color: #3374AD; ">{nhomtho.diachi}  </tr>
                        <tr> 
                            <td   style="color: #3374AD; ">Quận/Huyện</td> 
                            <td style="color: #3374AD; ">{nhomtho.diachi}  </tr>
                        <tr> 
                            <td   style="color: #3374AD; ">Phường/Xã</td> 
                            <td style="color: #3374AD; ">{nhomtho.diachi}  </tr>
                        <tr> 
                            <td   style="color: #3374AD; ">Địa Chỉ đường phố</td> 
                            <td style="color: #3374AD; ">{nhomtho.diachi}  </tr>
                        <tr> 
                            <td   style="color: #3374AD; ">E-mail</td> 
                            <td style="color: #3374AD; ">{nhomtho.emailcty}</td> 
                        </tr> 
                        <tr> 
                            <td   style="color: #3374AD; ">Điện thoại</td> 
                            <td style="color: #3374AD; ">{nhomtho.dienthoai}</td> 
                        </tr> 
                        <tr> 
                            <td   style="color: #3374AD; ">Fax</td> 
                            <td style="color: #3374AD; ">{nhomtho.sofax}</td> 
                        </tr> 
                        <tr>        
                            <td   style="color: #3374AD;">Địa chỉ trang Web</td> 
                            <td style="color: #3374AD; ">{nhomtho.trangweb}</td> 
                        </tr> 

                    </tbody> 
                </table>


            </div> 
            <div class="row">   
                <div class="col-md-12">
                    <f:link.action class="pull-right btn btn-primary"  style="font-weight: bold;font-size: 20px;" action="edit" arguments="{nhomtho: nhomtho}">Thay Đổi Thông Tin</f:link.action>
                </div>     
            </div>
        </div>

    <br><br>


    <br>   

    <f:comment>
        <f:flashMessages renderMode="div" />
        <f:render partial="FrontendUser/Properties" arguments="{frontendUser:frontendUser}" />
        <f:link.action action="list">Back to list</f:link.action><br />
        <f:link.action action="new">New FrontendUser</f:link.action>
    </f:comment>
</f:section>

<f:comment>
    <f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Single View for Nhomtho</h1>

<f:flashMessages renderMode="div" />
<f:render partial="Nhomtho/Properties" arguments="{nhomtho:nhomtho}" />
<f:link.action action="list">Back to list</f:link.action><br />
<f:link.action action="new">New Nhomtho</f:link.action>
</f:section>
</f:comment>
