
<table class="tx-thosuachua" >
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintimviec.title" />
		</td>
		<td>
		{tintimviec.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintimviec.noidung" />
		</td>
		<td>
		{tintimviec.noidung}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintimviec.hinhanh" />
		</td>
		<td>
				<f:image src="{tintimviec.hinhanh.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintimviec.tailieu" />
		</td>
		<td>
				<a href="{tintimviec.tailieu.originalResource.publicUrl}">
					{tintimviec.tailieu.originalResource.name}
				</a>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintimviec.tennguoitim" />
		</td>
		<td>
		{tintimviec.tennguoitim}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintimviec.mieutacanhan" />
		</td>
		<td>
		{tintimviec.mieutacanhan}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintimviec.diachi" />
		</td>
		<td>
		{tintimviec.diachi}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintimviec.lienhe" />
		</td>
		<td>
		{tintimviec.lienhe}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintimviec.phone" />
		</td>
		<td>
		{tintimviec.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintimviec.fax" />
		</td>
		<td>
		{tintimviec.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintimviec.www" />
		</td>
		<td>
		{tintimviec.www}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintimviec.batdau" />
		</td>
		<td>
		{tintimviec.batdau}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintimviec.ketthuc" />
		</td>
		<td>
		{tintimviec.ketthuc}
		</td>
	</tr>
</table>