
<table class="tx-thosuachua" >
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_mautin.title" />
		</td>
		<td>
			{mautin.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_mautin.noidung" />
		</td>
		<td>
			{mautin.noidung}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_mautin.hinhanh" />
		</td>
		<td>
			{mautin.hinhanh.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_mautin.link" />
		</td>
		<td>
			{mautin.link}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_mautin.batdau" />
		</td>
		<td>
			{mautin.batdau -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_mautin.ketthuc" />
		</td>
		<td>
			{mautin.ketthuc -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_mautin.www" />
		</td>
		<td>
			{mautin.www}
		</td>
	</tr>
</table>