
<label for="title">
	<f:translate key="tx_thosuachua_domain_model_tintuyendung.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="noidung">
	<f:translate key="tx_thosuachua_domain_model_tintuyendung.noidung" />
</label><br />
	<f:form.textarea property="noidung" cols="40" rows="15" /><br />
<label for="hinhanh">
	<f:translate key="tx_thosuachua_domain_model_tintuyendung.hinhanh" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="tailieu">
	<f:translate key="tx_thosuachua_domain_model_tintuyendung.tailieu" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />
<label for="tennhatuyendung">
	<f:translate key="tx_thosuachua_domain_model_tintuyendung.tennhatuyendung" />
</label><br />
	<f:form.textfield property="tennhatuyendung" /><br />
<label for="mieutacty">
	<f:translate key="tx_thosuachua_domain_model_tintuyendung.mieutacty" />
</label><br />
	<f:form.textarea property="mieutacty" cols="40" rows="15" /><br />
<label for="diachi">
	<f:translate key="tx_thosuachua_domain_model_tintuyendung.diachi" />
</label><br />
	<f:form.textfield property="diachi" /><br />
<label for="email">
	<f:translate key="tx_thosuachua_domain_model_tintuyendung.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="phone">
	<f:translate key="tx_thosuachua_domain_model_tintuyendung.phone" />
</label><br />
	<f:form.textfield property="phone" /><br />
<label for="fax">
	<f:translate key="tx_thosuachua_domain_model_tintuyendung.fax" />
</label><br />
	<f:form.textfield property="fax" /><br />
<label for="www">
	<f:translate key="tx_thosuachua_domain_model_tintuyendung.www" />
</label><br />
	<f:form.textfield property="www" /><br />
<label for="lienhe">
	<f:translate key="tx_thosuachua_domain_model_tintuyendung.lienhe" />
</label><br />
	<f:form.textfield property="lienhe" /><br />
<label for="batdau">
	<f:translate key="tx_thosuachua_domain_model_tintuyendung.batdau" />
</label><br />
	<f:form.textfield property="batdau" /><br />
<label for="ketthuc">
	<f:translate key="tx_thosuachua_domain_model_tintuyendung.ketthuc" />
</label><br />
	<f:form.textfield property="ketthuc" /><br />