
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">


    <div class="container">
        <div class="row">
		<div class="col-md-12">
            <article style="margin-top:70px; margin-bottom: 30px;border: none" class="teaser-list">
                <header style="">
                            <h2 style="height: 24px;">Online Shop Máy - Thiết bị cầm tay - Đồ Chuyên Dụng</h2>
                            <i class="icon-content">
                                <p class="glyphicon glyphicon-th"></p>
                            </i>
                        </header>
                  </article></div>
            </div><br><br>
        <div class="row">
            <main class="col-md-3" role="main">
                              <article style="max-width: 100%; padding: 7px 10px; background: #DB0050;color:#fff">Máy Khoan Tay Bosch</article>

              <f:image src="fileadmin/user_upload/shopdemo.jpg" alt="Landscape" style="max-width: 100%;" height="300c"  />
                          <article style="max-width: 100%; padding: 7px 10px; background: #00A6E7;color:#fff">Giá: 1.500.000 vnđ</article>
</main>
               <main class="col-md-3" role="main">
                                 <article style="max-width: 100%; padding: 7px 10px; background: #DB0050;color:#fff">Máy Khoan Tay Bosch</article>

              <f:image src="fileadmin/user_upload/shopdemo.jpg" alt="Landscape" style="max-width: 100%;" height="300c"  />
            <article style="max-width: 100%; padding: 7px 10px; background: #00A6E7;color:#fff">Giá: 1.500.000 vnđ</article>
 </main>
               <main class="col-md-3" role="main">
                                 <article style="max-width: 100%; padding: 7px 10px; background: #DB0050;color:#fff">Máy Khoan Tay Bosch</article>

              <f:image src="fileadmin/user_upload/shopdemo.jpg" alt="Landscape" style="max-width: 100%;" height="300c"  />
           <article style="max-width: 100%; padding: 7px 10px; background: #00A6E7;color:#fff">Giá: 1.500.000 vnđ</article>
  </main>
               <main class="col-md-3" role="main">
                           <article style="max-width: 100%; padding: 7px 10px; background: #DB0050;color:#fff">Máy Khoan Tay Bosch</article>

                   <f:image src="fileadmin/user_upload/shopdemo.jpg" alt="Landscape" style="max-width: 100%;" height="300c"  />
           <article style="max-width: 100%; padding: 7px 10px; background: #00A6E7;color:#fff">Giá: 1.500.000 vnđ</article>
 </main>
          
        </div>  <br>
        <hr style="border-color: #797C80">
        <br>
                    <div class="row">
            <main class="col-md-3" role="main">
                              <article style="max-width: 100%; padding: 7px 10px; background: #DB0050;color:#fff">Máy Khoan Tay Bosch</article>

              <f:image src="fileadmin/user_upload/shopdemo.jpg" alt="Landscape" style="max-width: 100%;" height="300c"  />
                          <article style="max-width: 100%; padding: 7px 10px; background: #00A6E7;color:#fff">Giá: 1.500.000 vnđ</article>
</main>
               <main class="col-md-3" role="main">
                                 <article style="max-width: 100%; padding: 7px 10px; background: #DB0050;color:#fff">Máy Khoan Tay Bosch</article>

              <f:image src="fileadmin/user_upload/shopdemo.jpg" alt="Landscape" style="max-width: 100%;" height="300c"  />
            <article style="max-width: 100%; padding: 7px 10px; background: #00A6E7;color:#fff">Giá: 1.500.000 vnđ</article>
 </main>
               <main class="col-md-3" role="main">
                                 <article style="max-width: 100%; padding: 7px 10px; background: #DB0050;color:#fff">Máy Khoan Tay Bosch</article>

              <f:image src="fileadmin/user_upload/shopdemo.jpg" alt="Landscape" style="max-width: 100%;" height="300c"  />
           <article style="max-width: 100%; padding: 7px 10px; background: #00A6E7;color:#fff">Giá: 1.500.000 vnđ</article>
  </main>
               <main class="col-md-3" role="main">
                           <article style="max-width: 100%; padding: 7px 10px; background: #DB0050;color:#fff">Máy Khoan Tay Bosch</article>

                   <f:image src="fileadmin/user_upload/shopdemo.jpg" alt="Landscape" style="max-width: 100%;" height="300c"  />
           <article style="max-width: 100%; padding: 7px 10px; background: #00A6E7;color:#fff">Giá: 1.500.000 vnđ</article>
 </main>
          
        </div>
        <br><hr style="border-color: #797C80"><br>
                <div class="row">
            <main class="col-md-3" role="main">
                              <article style="max-width: 100%; padding: 7px 10px; background: #DB0050;color:#fff">Máy Khoan Tay Bosch</article>

              <f:image src="fileadmin/user_upload/shopdemo.jpg" alt="Landscape" style="max-width: 100%;" height="300c"  />
                          <article style="max-width: 100%; padding: 7px 10px; background: #00A6E7;color:#fff">Giá: 1.500.000 vnđ</article>
</main>
               <main class="col-md-3" role="main">
                                 <article style="max-width: 100%; padding: 7px 10px; background: #DB0050;color:#fff">Máy Khoan Tay Bosch</article>

              <f:image src="fileadmin/user_upload/shopdemo.jpg" alt="Landscape" style="max-width: 100%;" height="300c"  />
            <article style="max-width: 100%; padding: 7px 10px; background: #00A6E7;color:#fff">Giá: 1.500.000 vnđ</article>
 </main>
               <main class="col-md-3" role="main">
                                 <article style="max-width: 100%; padding: 7px 10px; background: #DB0050;color:#fff">Máy Khoan Tay Bosch</article>

              <f:image src="fileadmin/user_upload/shopdemo.jpg" alt="Landscape" style="max-width: 100%;" height="300c"  />
           <article style="max-width: 100%; padding: 7px 10px; background: #00A6E7;color:#fff">Giá: 1.500.000 vnđ</article>
  </main>
               <main class="col-md-3" role="main">
                           <article style="max-width: 100%; padding: 7px 10px; background: #DB0050;color:#fff">Máy Khoan Tay Bosch</article>

                   <f:image src="fileadmin/user_upload/shopdemo.jpg" alt="Landscape" style="max-width: 100%;" height="300c"  />
           <article style="max-width: 100%; padding: 7px 10px; background: #00A6E7;color:#fff">Giá: 1.500.000 vnđ</article>
 </main>
          
        </div><br><hr style="border-color: #797C80"><br>
    </div>

</f:section>