
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">


    <div class="container">
        
            <div class="row">
            <div class="col-md-6">
                <div class="main-container">
                    <article class="teaser-list">
                        <header>
                            <h2 style="height: 24px;">Thợ tìm việc</h2>
                            <i class="icon-content">
                                <p class="glyphicon glyphicon-th"></p>
                            </i>
                        </header>
                        <div class="content-home">
                            <div class="same-height">
                                <f:for each="{nomitmautin}" as="tho">
                                    <div class="news">
                                        <span><f:format.date format="d.m.Y">{tho.crdate}</f:format.date>&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp; <f:format.crop maxCharacters="50">{tho.ten}</f:format.crop>   </span>
                                        <p>
                                   <f:link.action pageUid="49" action="show" arguments="{nhomtho: tho}">
                                                <f:format.crop maxCharacters="150">{tho.mieuta}</f:format.crop>    
                                                </f:link.action>
                                        </p>
                                    </div>
                                </f:for>                   

                            </div>
                            <footer class="module-link">
                                <a href="#"><b>Xem Tất Cả</b>&nbsp;&nbsp;<span>›</span></a>
                            </footer>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-md-6">
                <div class="main-container">
                    <article class="teaser-list">
                        <header>
                            <h2 style="height: 24px;">Việc tìm thợ</h2>
                            <i class="icon-content">
                                <p class="glyphicon glyphicon-th"></p>
                            </i>
                        </header>
                        <div class="content-home">
                            <div class="same-height" >
                                  <f:for each="{mitmautin}" as="tho1">
                                    <div class="news">
                                        <span><f:format.date format="d.m.Y">{tho1.crdate}</f:format.date>&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;  <f:format.crop maxCharacters="50">{tho1.ten}</f:format.crop>   </span>
                                        <p>
                                   <f:link.action pageUid="49" action="show" arguments="{nhomtho: tho1}">
                                                <f:format.crop maxCharacters="150">{tho1.mieuta}</f:format.crop>    
                                                </f:link.action>
                                        </p>
                                    </div>
                                </f:for>   

                            </div>
                            <footer class="module-link">
                                <a href="#"><b>Xem Tất Cả</b>&nbsp;&nbsp;<span>›</span></a>
                            </footer>
                        </div>
                    </article>

                </div>
            </div>

        </div>
        
        
        
        
        
        
        
        
        
        
        <div class="row">
            <div class="col-md-12">
                <article style="margin-top:70px; margin-bottom: 30px;border: none" class="teaser-list">
                    <header style="">
                        <h2 style="height: 24px;">Tin Tuyển Dụng Nổi Bật</h2>
                        <i class="icon-content">
                            <p class="glyphicon glyphicon-th"></p>
                        </i>
                    </header>
                </article></div>
        </div><br>
        <div class="row">
            <div class="col-md-3">
                <div data-dotnav-title="Start" data-dotnav-id="home"  style="background-image: url('fileadmin/user_upload/tuyendung.jpg')" class="">
                    <main  style="height: 200px; position: relative;" >
                        <div class="divtuyendung">
                            <h1 class="headlineBackground h1tuyendung1" >
                                <span class="headlineBackgroundDefault1">Điện-Điện Tử-Điện Lạnh</span>
                                <br>	
                                <span class="headlineBackgroundHighlight">Nhóm Ngành Liên Quan Điện</span>
                            </h1>
                        </div>
                    </main>
                    <h2 class="h2border">
                        <a style=" color: #DB0050" href="#">Tin Tức Và Tài Liệu</a>
                    </h2>
                </div>
                <div class="fix">
                    <p>
                        <a href="#">
                            Tại đây quí vị có thể tìm thấy những tin tức về thợ cũng như tài liệu hay hướng dẩn chuyên ngành.
                        </a>
                    </p>
                    <div class="module-content">
                    </div> <hr style="border-color: #797C80"> 
                </div>
            </div>
            <div class="col-md-3">
                <div data-dotnav-title="Start" data-dotnav-id="home"  style="background-image: url('fileadmin/user_upload/tdung1.jpg')" class="">
                    <div  style="height: 200px; position: relative;" >
                        <div class="divtuyendung">
                            <h1 class="headlineBackground h1tuyendung1" >
                                <span class="headlineBackgroundDefault1">Điện-Điện Tử-Điện Lạnh</span>
                                <br>	
                                <span class="headlineBackgroundHighlight">Nhóm Ngành Liên Quan Điện</span>
                            </h1>
                        </div>
                    </div>
                    <h2 class="h2border">
                        <a style=" color: #DB0050" href="#">Tin Tức Và Tài Liệu</a>
                    </h2>
                </div>
                <div class="fix">
                    <p> 
                        <a href="#">
                            Tại đây quí vị có thể tìm thấy những tin tức về thợ cũng như tài liệu hay hướng dẩn chuyên ngành.
                        </a>
                    </p>
                    <div class="module-content">
                    </div> <hr style="border-color: #797C80"> 
                </div>
            </div>
                        <div class="col-md-3">
                <div data-dotnav-title="Start" data-dotnav-id="home"  style="background-image: url('fileadmin/user_upload/tuyendung.jpg')" class="">
                    <div  style="height: 200px; position: relative;" >
                        <div class="divtuyendung">
                            <h1 class="headlineBackground h1tuyendung1" >
                                <span class="headlineBackgroundDefault1">Điện-Điện Tử-Điện Lạnh</span>
                                <br>	
                                <span class="headlineBackgroundHighlight">Nhóm Ngành Liên Quan Điện</span>
                            </h1>
                        </div>
                    </div>
                    <h2 class="h2border">
                        <a style=" color: #DB0050" href="#">Tin Tức Và Tài Liệu</a>
                    </h2>
                </div>
                <div class="fix">
                    <p>
                        <a href="#">
                            Tại đây quí vị có thể tìm thấy những tin tức về thợ cũng như tài liệu hay hướng dẩn chuyên ngành.
                        </a>
                    </p>
                    <div class="module-content">
                    </div> <hr style="border-color: #797C80"> 
                </div>
            </div>
                        <div class="col-md-3" >
                <div data-dotnav-title="Start" data-dotnav-id="home"  style="background-image: url('fileadmin/user_upload/tdung1.jpg')" class="">
                  
                    <div  style="height: 200px; position: relative;" >
                              <div class="divtuyendung">
                            <h1 class="headlineBackground h1tuyendung1" >
                                <span class="headlineBackgroundDefault1">Điện-Điện Tử-Điện Lạnh</span>
                                <br>	
                                <span class="headlineBackgroundHighlight">Nhóm Ngành Liên Quan Điện</span>
                            </h1>
                        </div>
                    </div>
                    <h2 class="h2border">
                        <a style=" color: #DB0050" href="#">Tin Tức Và Tài Liệu</a>
                    </h2>
                </div>
                <div class="fix">
                    <p>
                        <a href="#">
                            Tại đây quí vị có thể tìm thấy những tin tức về thợ cũng như tài liệu hay hướng dẩn chuyên ngành.
                        </a>
                    </p>
                    <div class="module-content">
                    </div> <hr style="border-color: #797C80"> 
                </div>
            </div>
        </div>
 <f:comment>
      <br><hr style="border-color: #797C80"><br>
      
        <div class="row">
            <div class="col-md-3">
                <div data-dotnav-title="Start" data-dotnav-id="home"  style="background-image: url('fileadmin/user_upload/tuyendung.jpg')" class="">
                    <main  style="height: 200px; position: relative;" >
                        <div class="divtuyendung">
                            <h1 class="headlineBackground h1tuyendung1" >
                                <span class="headlineBackgroundDefault1">Điện-Điện Tử-Điện Lạnh</span>
                                <br>	
                                <span class="headlineBackgroundHighlight">Nhóm Ngành Liên Quan Điện</span>
                            </h1>
                        </div>
                    </main>
                    <h2 class="h2border">
                        <a style=" color: #DB0050" href="#">Tin Tức Và Tài Liệu</a>
                    </h2>
                </div>
                <div class="fix">
                    <p>
                        <a href="#">
                            Tại đây quí vị có thể tìm thấy những tin tức về thợ cũng như tài liệu hay hướng dẩn chuyên ngành.
                        </a>
                    </p>
                    <div class="module-content">
                    </div>
                </div>
            </div>
            <main class="col-md-3" role="main">
                <div data-dotnav-title="Start" data-dotnav-id="home"  style="background-image: url('fileadmin/user_upload/tdung1.jpg')" class="">
                    <main  style="height: 200px; position: relative;" >
                        <div class="divtuyendung">
                            <h1 class="headlineBackground h1tuyendung1" >
                                <span class="headlineBackgroundDefault1">Điện-Điện Tử-Điện Lạnh</span>
                                <br>	
                                <span class="headlineBackgroundHighlight">Nhóm Ngành Liên Quan Điện</span>
                            </h1>
                        </div>
                    </main>
                    <h2 class="h2border">
                        <a style=" color: #DB0050" href="#">Tin Tức Và Tài Liệu</a>
                    </h2>
                </div>
                <div class="fix">
                    <p>
                        <a href="#">
                            Tại đây quí vị có thể tìm thấy những tin tức về thợ cũng như tài liệu hay hướng dẩn chuyên ngành.
                        </a>
                    </p>
                    <div class="module-content">
                    </div>
                </div>
            </main>
                        <main class="col-md-3" role="main">
                <div data-dotnav-title="Start" data-dotnav-id="home"  style="background-image: url('fileadmin/user_upload/tuyendung.jpg')" class="">
                    <main  style="height: 200px; position: relative;" >
                        <div class="divtuyendung">
                            <h1 class="headlineBackground h1tuyendung1" >
                                <span class="headlineBackgroundDefault1">Điện-Điện Tử-Điện Lạnh</span>
                                <br>	
                                <span class="headlineBackgroundHighlight">Nhóm Ngành Liên Quan Điện</span>
                            </h1>
                        </div>
                    </main>
                    <h2 class="h2border">
                        <a style=" color: #DB0050" href="#">Tin Tức Và Tài Liệu</a>
                    </h2>
                </div>
                <div class="fix">
                    <p>
                        <a href="#">
                            Tại đây quí vị có thể tìm thấy những tin tức về thợ cũng như tài liệu hay hướng dẩn chuyên ngành.
                        </a>
                    </p>
                    <div class="module-content">
                    </div>
                </div>
            </main>
                        <main class="col-md-3" role="main">
                <div data-dotnav-title="Start" data-dotnav-id="home"  style="background-image: url('fileadmin/user_upload/tdung1.jpg')" class="">
                  
                    <main  style="height: 200px; position: relative;" >
                              <div class="divtuyendung">
                            <h1 class="headlineBackground h1tuyendung1" >
                                <span class="headlineBackgroundDefault1">Điện-Điện Tử-Điện Lạnh</span>
                                <br>	
                                <span class="headlineBackgroundHighlight">Nhóm Ngành Liên Quan Điện</span>
                            </h1>
                        </div>
                    </main>
                    <h2 class="h2border">
                        <a style=" color: #DB0050" href="#">Tin Tức Và Tài Liệu</a>
                    </h2>
                </div>
                <div class="fix">
                    <p>
                        <a href="#">
                            Tại đây quí vị có thể tìm thấy những tin tức về thợ cũng như tài liệu hay hướng dẩn chuyên ngành.
                        </a>
                    </p>
                    <div class="module-content">
                    </div>
                </div>
            </main>
        </div>

   <br><hr style="border-color: #797C80"><br>
    
        <div class="row">
            <main class="col-md-3" role="main">
                <div data-dotnav-title="Start" data-dotnav-id="home"  style="background-image: url('fileadmin/user_upload/tuyendung.jpg')" class="">
                    <main  style="height: 200px; position: relative;" >
                        <div class="divtuyendung">
                            <h1 class="headlineBackground h1tuyendung1" >
                                <span class="headlineBackgroundDefault1">Điện-Điện Tử-Điện Lạnh</span>
                                <br>	
                                <span class="headlineBackgroundHighlight">Nhóm Ngành Liên Quan Điện</span>
                            </h1>
                        </div>
                    </main>
                    <h2 class="h2border">
                        <a style=" color: #DB0050" href="#">Tin Tức Và Tài Liệu</a>
                    </h2>
                </div>
                <div class="fix">
                    <p>
                        <a href="#">
                            Tại đây quí vị có thể tìm thấy những tin tức về thợ cũng như tài liệu hay hướng dẩn chuyên ngành.
                        </a>
                    </p>
                    <div class="module-content">
                    </div>
                </div>
            </main>
            <main class="col-md-3" role="main">
                <div data-dotnav-title="Start" data-dotnav-id="home"  style="background-image: url('fileadmin/user_upload/tdung1.jpg')" class="">
                    <main  style="height: 200px; position: relative;" >
                        <div class="divtuyendung">
                            <h1 class="headlineBackground h1tuyendung1" >
                                <span class="headlineBackgroundDefault1">Điện-Điện Tử-Điện Lạnh</span>
                                <br>	
                                <span class="headlineBackgroundHighlight">Nhóm Ngành Liên Quan Điện</span>
                            </h1>
                        </div>
                    </main>
                    <h2 class="h2border">
                        <a style=" color: #DB0050" href="#">Tin Tức Và Tài Liệu</a>
                    </h2>
                </div>
                <div class="fix">
                    <p>
                        <a href="#">
                            Tại đây quí vị có thể tìm thấy những tin tức về thợ cũng như tài liệu hay hướng dẩn chuyên ngành.
                        </a>
                    </p>
                    <div class="module-content">
                    </div>
                </div>
            </main>
                        <main class="col-md-3" role="main">
                <div data-dotnav-title="Start" data-dotnav-id="home"  style="background-image: url('fileadmin/user_upload/tuyendung.jpg')" class="">
                    <main  style="height: 200px; position: relative;" >
                        <div class="divtuyendung">
                            <h1 class="headlineBackground h1tuyendung1" >
                                <span class="headlineBackgroundDefault1">Điện-Điện Tử-Điện Lạnh</span>
                                <br>	
                                <span class="headlineBackgroundHighlight">Nhóm Ngành Liên Quan Điện</span>
                            </h1>
                        </div>
                    </main>
                    <h2 class="h2border">
                        <a style=" color: #DB0050" href="#">Tin Tức Và Tài Liệu</a>
                    </h2>
                </div>
                <div class="fix">
                    <p>
                        <a href="#">
                            Tại đây quí vị có thể tìm thấy những tin tức về thợ cũng như tài liệu hay hướng dẩn chuyên ngành.
                        </a>
                    </p>
                    <div class="module-content">
                    </div>
                </div>
            </main>
                        <main class="col-md-3" role="main">
                <div data-dotnav-title="Start" data-dotnav-id="home"  style="background-image: url('fileadmin/user_upload/tdung1.jpg')" class="">
                  
                    <main  style="height: 200px; position: relative;" >
                              <div class="divtuyendung">
                            <h1 class="headlineBackground h1tuyendung1" >
                                <span class="headlineBackgroundDefault1">Điện-Điện Tử-Điện Lạnh</span>
                                <br>	
                                <span class="headlineBackgroundHighlight">Nhóm Ngành Liên Quan Điện</span>
                            </h1>
                        </div>
                    </main>
                    <h2 class="h2border">
                        <a style=" color: #DB0050" href="#">Tin Tức Và Tài Liệu</a>
                    </h2>
                </div>
                <div class="fix">
                    <p>
                        <a href="#">
                            Tại đây quí vị có thể tìm thấy những tin tức về thợ cũng như tài liệu hay hướng dẩn chuyên ngành.
                        </a>
                    </p>
                    <div class="module-content">
                    </div>
                </div>
            </main>
        </div>

 <br><br>  <hr style="border-color: #797C80">

     
 </f:comment>
    </div>
      <br><br>
</f:section>