
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Thotimviec</h1>

<f:flashMessages />

<table  class="tx_thosuachua" >
	<tr>
		<th><f:translate key="tx_thosuachua_domain_model_thotimviec.title" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_thotimviec.noidung" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_thotimviec.hinhanh" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_thotimviec.tailieu" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_thotimviec.tennhomtho" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_thotimviec.mieutacty" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_thotimviec.diachi" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_thotimviec.email" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_thotimviec.phone" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_thotimviec.fax" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_thotimviec.www" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_thotimviec.lienhe" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_thotimviec.batdau" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_thotimviec.ketthuc" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_thotimviec.batdauvalue" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_thotimviec.ketthucvalue" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{thotimviecs}" as="thotimviec">
		<tr>
			<td><f:link.action action="show" arguments="{thotimviec : thotimviec}"> {thotimviec.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{thotimviec : thotimviec}"> {thotimviec.noidung}</f:link.action></td>
			<td><f:link.action action="show" arguments="{thotimviec : thotimviec}"> {thotimviec.hinhanh.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{thotimviec : thotimviec}"> {thotimviec.tailieu.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{thotimviec : thotimviec}"> {thotimviec.tennhomtho}</f:link.action></td>
			<td><f:link.action action="show" arguments="{thotimviec : thotimviec}"> {thotimviec.mieutacty}</f:link.action></td>
			<td><f:link.action action="show" arguments="{thotimviec : thotimviec}"> {thotimviec.diachi}</f:link.action></td>
			<td><f:link.action action="show" arguments="{thotimviec : thotimviec}"> {thotimviec.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{thotimviec : thotimviec}"> {thotimviec.phone}</f:link.action></td>
			<td><f:link.action action="show" arguments="{thotimviec : thotimviec}"> {thotimviec.fax}</f:link.action></td>
			<td><f:link.action action="show" arguments="{thotimviec : thotimviec}"> {thotimviec.www}</f:link.action></td>
			<td><f:link.action action="show" arguments="{thotimviec : thotimviec}"> {thotimviec.lienhe}</f:link.action></td>
			<td><f:link.action action="show" arguments="{thotimviec : thotimviec}"> {thotimviec.batdau -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{thotimviec : thotimviec}"> {thotimviec.ketthuc -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{thotimviec : thotimviec}"> {thotimviec.batdauvalue}</f:link.action></td>
			<td><f:link.action action="show" arguments="{thotimviec : thotimviec}"> {thotimviec.ketthucvalue}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{thotimviec : thotimviec}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{thotimviec : thotimviec}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Thotimviec</f:link.action>
</f:section>