
<label for="title">
	<f:translate key="tx_thosuachua_domain_model_tintimviec.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="noidung">
	<f:translate key="tx_thosuachua_domain_model_tintimviec.noidung" />
</label><br />
	<f:form.textarea property="noidung" cols="40" rows="15" /><br />
<label for="hinhanh">
	<f:translate key="tx_thosuachua_domain_model_tintimviec.hinhanh" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="tailieu">
	<f:translate key="tx_thosuachua_domain_model_tintimviec.tailieu" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />
<label for="tennguoitim">
	<f:translate key="tx_thosuachua_domain_model_tintimviec.tennguoitim" />
</label><br />
	<f:form.textfield property="tennguoitim" /><br />
<label for="mieutacanhan">
	<f:translate key="tx_thosuachua_domain_model_tintimviec.mieutacanhan" />
</label><br />
	<f:form.textarea property="mieutacanhan" cols="40" rows="15" /><br />
<label for="diachi">
	<f:translate key="tx_thosuachua_domain_model_tintimviec.diachi" />
</label><br />
	<f:form.textfield property="diachi" /><br />
<label for="lienhe">
	<f:translate key="tx_thosuachua_domain_model_tintimviec.lienhe" />
</label><br />
	<f:form.textfield property="lienhe" /><br />
<label for="phone">
	<f:translate key="tx_thosuachua_domain_model_tintimviec.phone" />
</label><br />
	<f:form.textfield property="phone" /><br />
<label for="fax">
	<f:translate key="tx_thosuachua_domain_model_tintimviec.fax" />
</label><br />
	<f:form.textfield property="fax" /><br />
<label for="www">
	<f:translate key="tx_thosuachua_domain_model_tintimviec.www" />
</label><br />
	<f:form.textfield property="www" /><br />
<label for="batdau">
	<f:translate key="tx_thosuachua_domain_model_tintimviec.batdau" />
</label><br />
	<f:form.textfield property="batdau" /><br />
<label for="ketthuc">
	<f:translate key="tx_thosuachua_domain_model_tintimviec.ketthuc" />
</label><br />
	<f:form.textfield property="ketthuc" /><br />