
<label for="title">
	<f:translate key="tx_thosuachua_domain_model_thotimviec.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="noidung">
	<f:translate key="tx_thosuachua_domain_model_thotimviec.noidung" />
</label><br />
	<f:form.textarea property="noidung" cols="40" rows="15" /><br />
<label for="hinhanh">
	<f:translate key="tx_thosuachua_domain_model_thotimviec.hinhanh" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="tailieu">
	<f:translate key="tx_thosuachua_domain_model_thotimviec.tailieu" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />
<label for="tennhomtho">
	<f:translate key="tx_thosuachua_domain_model_thotimviec.tennhomtho" />
</label><br />
	<f:form.textfield property="tennhomtho" /><br />
<label for="mieutacty">
	<f:translate key="tx_thosuachua_domain_model_thotimviec.mieutacty" />
</label><br />
	<f:form.textarea property="mieutacty" cols="40" rows="15" /><br />
<label for="diachi">
	<f:translate key="tx_thosuachua_domain_model_thotimviec.diachi" />
</label><br />
	<f:form.textfield property="diachi" /><br />
<label for="email">
	<f:translate key="tx_thosuachua_domain_model_thotimviec.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="phone">
	<f:translate key="tx_thosuachua_domain_model_thotimviec.phone" />
</label><br />
	<f:form.textfield property="phone" /><br />
<label for="fax">
	<f:translate key="tx_thosuachua_domain_model_thotimviec.fax" />
</label><br />
	<f:form.textfield property="fax" /><br />
<label for="www">
	<f:translate key="tx_thosuachua_domain_model_thotimviec.www" />
</label><br />
	<f:form.textfield property="www" /><br />
<label for="lienhe">
	<f:translate key="tx_thosuachua_domain_model_thotimviec.lienhe" />
</label><br />
	<f:form.textfield property="lienhe" /><br />
<label for="batdau">
	<f:translate key="tx_thosuachua_domain_model_thotimviec.batdau" />
</label><br />
	<f:form.textfield property="batdau"  value="{thotimviec.batdau->f:format.date()}" /><br />
<label for="ketthuc">
	<f:translate key="tx_thosuachua_domain_model_thotimviec.ketthuc" />
</label><br />
	<f:form.textfield property="ketthuc"  value="{thotimviec.ketthuc->f:format.date()}" /><br />
<label for="batdauvalue">
	<f:translate key="tx_thosuachua_domain_model_thotimviec.batdauvalue" />
</label><br />
	<f:form.textfield property="batdauvalue" /><br />
<label for="ketthucvalue">
	<f:translate key="tx_thosuachua_domain_model_thotimviec.ketthucvalue" />
</label><br />
	<f:form.textfield property="ketthucvalue" /><br />