{namespace tsc=VOV\Thosuachua\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="main-container">
                    <article class="teaser-list" style="margin-bottom: 20px;">
                        <header>
                            <h2 style="height: 24px;">Thợ Sửa Chữa</h2>
                            <div class="icon-content">
                                <p class="glyphicon glyphicon-th"></p>
                            </div>
                        </header>
                        <div class="content-home">
                            <div class="same-height">
                                <f:for each="{thotimviecs}" as="thotimviec" iteration="Iterator">
                                    <f:if condition="{Iterator.index} < 10">
                                        <div class="news">
                                        <span class="titlehome">
                                              <f:link.action title="{thotimviec.title}" pageUid="49" pluginName="Thotimviecliste"
                                                             controller="Thotimviec" action="show"
                                                             arguments="{thotimviec: thotimviec}">
                                           <span class="glyphicon glyphicon-list" style="color:#14A711 !important;">&nbsp;</span><f:format.crop maxCharacters="70">{thotimviec.title}</f:format.crop>
                                         </f:link.action></span>
                                            <br>
                                            <p class="teaserOrt" style="color:#42b091; display: inline-block;font-size:1x !important; font-weight:bold;border-bottom:1px solid #f3f5f3">
                                                <v:variable.set name="thanhphoShow" value="{tsc:thanhPho(thotimviec:thotimviec)}" />
                                                - {thanhphoShow.thanhpho} : {thotimviec.unterkategorie.ten}
                                                <f:if condition="{thotimviec.unterkategorie} == '' ">
                                                    <f:then>
                                                        {thotimviec.kategorienganh.0.ten}
                                                    </f:then>
                                                    <f:else>
                                                        <v:variable.set name="unterkategoriehelper" value="{tsc:unterkategorie(unterkategorie:thotimviec.unterkategorie)}" />
                                                        {unterkategoriehelper.ten}
                                                    </f:else>
                                                </f:if>
                                                <f:comment>  ✅
                                                    <f:if condition="{thotimviec.tinhthanhpho1} == 0 ">
                                                        <f:then>
                                                            - {thotimviec.tinhthanhpho.0.ten} - {thotimviec.quanhuyen.0.ten} :
                                                            <f:if condition="{thotimviec.unterkategorie} == '' ">
                                                                <f:then>
                                                                    {thotimviec.kategorienganh.0.ten}
                                                                </f:then>
                                                                <f:else>
                                                                    <v:variable.set name="unterkategoriehelper" value="{tsc:unterkategorie(unterkategorie:thotimviec.unterkategorie)}" />
                                                                    {unterkategoriehelper.ten}
                                                                </f:else>
                                                            </f:if>
                                                        </f:then>
                                                        <f:else>
                                                            <v:variable.set name="thanhphoShow" value="{tsc:thanhPho(thotimviec:thotimviec)}" />
                                                            - {thanhphoShow.thanhpho} : {thotimviec.unterkategorie.ten}
                                                            <f:if condition="{thotimviec.unterkategorie} == '' ">
                                                                <f:then>
                                                                    {thotimviec.kategorienganh.0.ten}
                                                                </f:then>
                                                                <f:else>
                                                                    <v:variable.set name="unterkategoriehelper" value="{tsc:unterkategorie(unterkategorie:thotimviec.unterkategorie)}" />
                                                                    {unterkategoriehelper.ten}
                                                                </f:else>
                                                            </f:if>
                                                        </f:else>
                                                    </f:if>
                                                </f:comment>


                                            </p>
                                            <p  style="margin: 0px 0 6px 0 !important;">
                                                <f:link.action style="color: #002bff !important;" pageUid="49" pluginName="Thotimviecliste"
                                                               controller="Thotimviec" action="show"
                                                               arguments="{thotimviec: thotimviec}">
                                                    <f:format.crop maxCharacters="202">{thotimviec.noidung}
                                                    </f:format.crop>
                                                </f:link.action>
                                            </p>
                                        </div>

                                    </f:if>
                                </f:for>

                            </div>
                            <footer class="module-link" style=" padding-top:11px;background-color:#DDDDDD ">
                                <a href="http://thosuachua.vn/nc/tho-sua-chua/">
                                    <b style="color:#088A08;font-size:17px">XEM TẤT CẢ</b>&nbsp;&nbsp;<span>›</span>
                                </a>
                            </footer>
                        </div>
                    </article>

                </div>
            </div>

            <div class="col-md-6">
                <div class="main-container">
                    <article class="teaser-list">
                        <header>
                            <h2 style="height: 24px;">Tìm thợ</h2>
                            <div class="icon-content">
                                <p class="glyphicon glyphicon-th"></p>
                            </div>
                        </header>
                        <div class="content-home">
                            <div class="same-height">
                                <f:for each="{viectimthos}" as="viectimtho" iteration="Iterator1">
                                    <f:if condition="{Iterator1.index} < 10">
                                        <div class="news">
                                        <span class="titlehome">
                                            <f:format.date date="{viectimtho.crdate}" format="d.m.Y"/>
                                            &nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;
                                           <f:link.action  title="{viectimtho.title}" pageUid="54" pluginName="Viectimtholiste"
                                                          controller="Viectimtho" action="show"
                                                          arguments="{viectimtho: viectimtho}">
                                      <f:format.crop maxCharacters="50">{viectimtho.title}</f:format.crop>
                                        </f:link.action>
                                        </span>
                                            <br>
                                            <p class="teaserOrt" style="color:#42b091; display: inline-block;font-size:1x !important; font-weight:bold;border-bottom:1px solid #f3f5f3">
                                                <f:if condition="{viectimtho.tinhthanhpho1} == 0 ">
                                                    <f:then>
                                                        - {viectimtho.tinhthanhpho.0.ten} - {viectimtho.quanhuyen.0.ten} :
                                                        <f:if condition="{viectimtho.unterkategorie} == '' ">
                                                            <f:then>
                                                                {viectimtho.kategorienganh.0.ten}
                                                            </f:then>
                                                            <f:else>
                                                                <v:variable.set name="unterkategoriehelper" value="{tsc:unterkategorie(unterkategorie:viectimtho.unterkategorie)}" />
                                                                {unterkategoriehelper.ten}
                                                            </f:else>
                                                        </f:if>
                                                    </f:then>
                                                    <f:else>
                                                        <v:variable.set name="thanhphoShow" value="{tsc:thanhPho1(thotimviec:viectimtho)}" />
                                                        - {thanhphoShow.thanhpho.ten} - {thanhphoShow.quanhuyen.ten} : {viectimtho.unterkategorie.ten}
                                                        <f:if condition="{viectimtho.unterkategorie} == '' ">
                                                            <f:then>
                                                                {viectimtho.kategorienganh.0.ten}
                                                            </f:then>
                                                            <f:else>
                                                                <v:variable.set name="unterkategoriehelper" value="{tsc:unterkategorie(unterkategorie:viectimtho.unterkategorie)}" />
                                                                {unterkategoriehelper.ten}
                                                            </f:else>
                                                        </f:if>
                                                    </f:else>
                                                </f:if>

                                            </p>

                                            <p style="margin: 0px 0 6px 0 !important;">
                                                <f:link.action style="color: #002bff !important;" pageUid="54" pluginName="Viectimtholiste"
                                                               controller="Viectimtho" action="show"
                                                               arguments="{viectimtho: viectimtho}">
                                                        <f:format.crop maxCharacters="202">{viectimtho.noidung}
                                                        </f:format.crop>
                                                </f:link.action>
                                            </p>
                                        </div>
                                    </f:if>
                                </f:for>

                            </div>
                            <footer class="module-link" style=" padding-top:11px;background-color:#DDDDDD ">
                                <a href="http://thosuachua.vn/viec-tim-tho/">
                                    <b style="color:#088A08;font-size:17px">XEM TẤT CẢ</b>&nbsp;&nbsp;<span>›</span>
                                </a>
                            </footer>
                        </div>
                    </article>

                </div>
            </div>
            <br>
            <br>
        </div>
        <br>
        <br>
        <hr style="border-top: 1px solid #ccc!important; display: none">
        <div style="background-color: #33ABFF;padding-top:7px!important;padding-bottom:10px!important  ">
            <h2 style="color: #FFFF24;text-align: center; text-transform: uppercase ">Đăng Tin Không Qua Đăng Nhập</h2>
        </div>
        <br> <br>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12" style="margin-bottom: 25px">
                        <div style="color: red; padding: 0 30px 0 30px; text-align: center;">
                              <b  style="color: red; padding: 0 30px 0 30px; text-align: center;" >Hệ thống cho phép bạn đăng tin không qua đăng ký và đăng nhập, nhưng sau đó các bạn không thể thay đổi
                                cũng như không thể quản lý các tin đã đăng, nên chúng tôi khuyên bạn hãy
                                đăng ký, đăng nhập sau đó đăng tin để bạn có thể quản lý, sữa đổi quảng cáo hoặc mẩu tin các bạn đã đăng.</b>
                        </div>

                    </div>
                    <div class="col-md-6" style="margin-bottom: 25px">
                        <div class="row">
                            <div class="col-md-2" style="text-align:center;margin-bottom: 12px">
                                <img src="fileadmin/user_upload/linkicon2.png" alt="website doanh nghiep">
                            </div>
                            <div class="col-md-10">
                                <div style="padding-left: 10px">
                                    <a href="http://thosuachua.vn/admin/?tx_thosuachua_admin%5Bnhomtho%5D=72&tx_thosuachua_admin%5Baction%5D=new&tx_thosuachua_admin%5Bcontroller%5D=Viectimtho">
                                        <h3 class="goicoso headline" style="color: #F50242">Đăng Tin Tìm Thợ Theo Công
                                            Việc</h3>
                                        <p class="goicoso headlinetext">
                                            Nhà của bạn cần sơn sửa lại, hay bạn muốn tu sửa lại bể nước, nhưng bạn
                                            không biết tìm thợ ở đâu, thợ nào tốt, thợ nào có thể báo giá không quá đắt.
                                       <br>  Thì việc đăng tin tìm thợ sẽ rất hửu ích để bạn có thể lựa chọn ứng cử viên
                                            hợp lý cho việc tu sửa mà bạn định làm.
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2" style="text-align:center;margin-bottom: 12px">
                                <img src="http://thosuachua.vn/fileadmin/user_upload/linkicon3.png"
                                     alt="website doanh nghiep">
                            </div>
                            <div class="col-md-10">
                                <div style="padding-left: 10px">
                                        <h3 class="goicoso headline" style="color: #148826">Hướng Dẩn</h3>
                                        <p class="goicoso headlinetext">
                                           Nếu quí vị gặp khó khăn trong việc Đăng Tin, Đăng Ký, Đăng Nhập
                                            hay những vấn đề liên quan đến hệ thống xin hãy liên hệ với chúng
                                            tôi theo E-Mail: lienhe@thosuachua.vn, hoặc tham khảo các hướng dẩn theo đường link phía dưới.
                                        </p>
                                    <ul>
                                        <li>
                                            <a href="http://thosuachua.vn/index.php?id=66" style="border-bottom:1px  solid; color:#14882C"> Hướng Dẩn Đăng Ký</a><br>
                                        </li>
                                        <li>
                                            <a  href="http://thosuachua.vn/index.php?id=67" style="border-bottom: 1px  solid; color:#14882C"> Hướng Dẩn Đăng Tin</a><br>
                                        </li>
                                        <li>
                                            <a  href="http://thosuachua.vn/index.php?id=68" style="border-bottom: 1px  solid; color:#14882C"> Hướng Dẩn Tìm Kiếm</a><br>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="row">
                            <div class="col-md-2 " style="text-align:center;margin-bottom: 12px">
                                <img src="fileadmin/user_upload/linkicon1.png" alt="website doanh nghiep">
                            </div>
                            <div class="col-md-10">
                                <div style="padding-left: 10px">
                                    <a href="http://thosuachua.vn/admin/?tx_thosuachua_admin%5Bnhomtho%5D=72&tx_thosuachua_admin%5Baction%5D=new&tx_thosuachua_admin%5Bcontroller%5D=Thotimviec">

                                        <h3 class="goicoso headline" style="color: #F50242">Thợ Đăng Tin Tiếp Thị</h3>
                                        <p class="goicoso headlinetext">
                                            Bạn, nhóm thợ hay công ty của bạn khó tiếp cận những người đang có nhu
                                            cầu tìm thợ, hoặc ngược lại những người đang đi tìm những người thợ như
                                            bạn lai không tìm được. Bạn hãy đăng tải thông tin của mình
                                            lên đây, hệ thống sẽ giúp bạn khắc phục những khó khăn đã nêu trên.
                                      <br>

                                        </p>
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-2" style="text-align:center;margin-bottom: 12px">
                                <img src="fileadmin/user_upload/linkicon.png" alt="website doanh nghiep">
                            </div>
                            <div class="col-md-10">
                                <div style="padding-left: 10px">
                                    <a href="http://thosuachua.vn/dang-nhap">
                                        <h3 class="goicoso headline" style="color: #148826">Đăng Ký - Đăng Nhập</h3>
                                        <p class="goicoso headlinetext">
                                            Để quản lý những tin đã đăng, như sửa đổi, xóa hay xem lại dữ liệu mình đã
                                            đăng, các bạn cần có tài khoản của hệ thống, và dùng tài khỏa này để đăng dữ
                                            liệu của mình.
                                            Nếu bạn đăng tin không qua tài khoản đã đăng ký, bạn không thể xóa hoặc sửa
                                            đổi dữ liệu mình đã đăng.
                                        </p>
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>
            </div>
        </div>
        <br><br>
    </div>
    <br><br>
</f:section>