{namespace m=VOV\Thosuachua\ViewHelpers}
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
      <div class="main-container">
        <article class="teaser-list">
            <header>
                <h2 style="height: 24px;">Thông báo nhà tuyển dụng</h2>
                <i class="icon-content">
                    <p class="glyphicon glyphicon-th"></p>
                </i>
            </header>
               <br> 
            <div class="content-home">
                <div class="same-height">

                    <m:Paginate objects="{tintuyendungs}" as="paginatedObjekt" configuration="{itemsPerPage: 10, insertAbove: 0, insertBelow: 1}">
                        <f:for each="{paginatedObjekt}" as="tintuyendung" iteration="fooIterator">
                            <div class="news">
                                <span><f:format.date date="now" format="d.m.Y" />&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;
                                    <f:link.action pageUid="55"  pluginName="Tintuyendungliste"   controller="Tintuyendung"  action="show" arguments="{tintuyendung: tintuyendung}">
                                        <f:format.crop maxCharacters="50">{tintuyendung.title}</f:format.crop>
                                    </f:link.action></span>
                                <p>
                                <f:link.action pageUid="55"  pluginName="Tintuyendungliste"  controller="Tintuyendung"  action="show" arguments="{tintuyendung: tintuyendung}">
                                    <f:format.crop maxCharacters="150">{tintuyendung.noidung}</f:format.crop>    
                                </f:link.action>
                                </p>
                            </div>
                        </f:for>      
                    </m:Paginate>

                </div>
     
            </div>
        </article>
    </div>

    <f:comment>
        
<h1>Listing for Tintuyendung</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_thosuachua" >
	<tr>
		<th><f:translate key="tx_thosuachua_domain_model_tintuyendung.title" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_tintuyendung.noidung" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_tintuyendung.hinhanh" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_tintuyendung.tailieu" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_tintuyendung.tennhatuyendung" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_tintuyendung.mieutacty" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_tintuyendung.diachi" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_tintuyendung.email" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_tintuyendung.phone" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_tintuyendung.fax" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_tintuyendung.www" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_tintuyendung.lienhe" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_tintuyendung.batdau" /></th>
		<th><f:translate key="tx_thosuachua_domain_model_tintuyendung.ketthuc" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{tintuyendungs}" as="tintuyendung">
		<tr>
			<td><f:link.action action="show" arguments="{tintuyendung : tintuyendung}"> {tintuyendung.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tintuyendung : tintuyendung}"> {tintuyendung.noidung}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tintuyendung : tintuyendung}"> {tintuyendung.hinhanh.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tintuyendung : tintuyendung}"> {tintuyendung.tailieu.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tintuyendung : tintuyendung}"> {tintuyendung.tennhatuyendung}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tintuyendung : tintuyendung}"> {tintuyendung.mieutacty}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tintuyendung : tintuyendung}"> {tintuyendung.diachi}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tintuyendung : tintuyendung}"> {tintuyendung.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tintuyendung : tintuyendung}"> {tintuyendung.phone}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tintuyendung : tintuyendung}"> {tintuyendung.fax}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tintuyendung : tintuyendung}"> {tintuyendung.www}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tintuyendung : tintuyendung}"> {tintuyendung.lienhe}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tintuyendung : tintuyendung}"> {tintuyendung.batdau}</f:link.action></td>
			<td><f:link.action action="show" arguments="{tintuyendung : tintuyendung}"> {tintuyendung.ketthuc}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{tintuyendung : tintuyendung}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{tintuyendung : tintuyendung}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Tintuyendung</f:link.action>
    </f:comment>
</f:section>