
<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h2 style=" background: #088a08; padding: 10px ; margin-bottom: 35px;color:#fff ">Xóa Mẩu Tin Tuyển Dụng</h2>

<div class="form-group">
    <h3 style="color: #E05500">Sau khi xóa tin nhắn sẽ bị xóa hoàn toàn khỏi hệ thống.</h3>   
    <f:link.action pluginName="Admin" controller="Tintuyendung" action="delete" arguments="{tintuyendung : tintuyendung}" class="btn" style="font-weight: bold;font-size: 20px;padding: 6px 30px;  background: #E05500; color:#fff; text-shadow: none">Xác Nhận Xóa Tin</f:link.action>
    <br>
    <br>
    <hr  class="hrcolor"> 
    <br>
    <a  class="btn" style="background-color: #088A08;color:#fff" href="/admin">Quay Lại</a>

</div>
</f:section>