
<table class="tx-thosuachua" >
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintuyendung.title" />
		</td>
		<td>
		{tintuyendung.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintuyendung.noidung" />
		</td>
		<td>
		{tintuyendung.noidung}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintuyendung.hinhanh" />
		</td>
		<td>
				<f:image src="{tintuyendung.hinhanh.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintuyendung.tailieu" />
		</td>
		<td>
				<a href="{tintuyendung.tailieu.originalResource.publicUrl}">
					{tintuyendung.tailieu.originalResource.name}
				</a>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintuyendung.tennhatuyendung" />
		</td>
		<td>
		{tintuyendung.tennhatuyendung}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintuyendung.mieutacty" />
		</td>
		<td>
		{tintuyendung.mieutacty}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintuyendung.diachi" />
		</td>
		<td>
		{tintuyendung.diachi}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintuyendung.email" />
		</td>
		<td>
		{tintuyendung.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintuyendung.phone" />
		</td>
		<td>
		{tintuyendung.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintuyendung.fax" />
		</td>
		<td>
		{tintuyendung.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintuyendung.www" />
		</td>
		<td>
		{tintuyendung.www}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintuyendung.lienhe" />
		</td>
		<td>
		{tintuyendung.lienhe}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintuyendung.batdau" />
		</td>
		<td>
		{tintuyendung.batdau}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_tintuyendung.ketthuc" />
		</td>
		<td>
		{tintuyendung.ketthuc}
		</td>
	</tr>
</table>