
<label for="ten">
	<f:translate key="tx_thosuachua_domain_model_nhomtho.ten" />
</label><br />
	<f:form.textfield property="ten" /><br />
<label for="mieuta">
	<f:translate key="tx_thosuachua_domain_model_nhomtho.mieuta" />
</label><br />
	<f:form.textarea property="mieuta" cols="40" rows="15" /><br />
<label for="tailieu">
	<f:translate key="tx_thosuachua_domain_model_nhomtho.tailieu" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />
<label for="diachi">
	<f:translate key="tx_thosuachua_domain_model_nhomtho.diachi" />
</label><br />
	<f:form.textfield property="diachi" /><br />
<label for="sonha">
	<f:translate key="tx_thosuachua_domain_model_nhomtho.sonha" />
</label><br />
	<f:form.textfield property="sonha" /><br />
<label for="email">
	<f:translate key="tx_thosuachua_domain_model_nhomtho.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="dienthoai">
	<f:translate key="tx_thosuachua_domain_model_nhomtho.dienthoai" />
</label><br />
	<f:form.textfield property="dienthoai" /><br />
<label for="lienhe">
	<f:translate key="tx_thosuachua_domain_model_nhomtho.lienhe" />
</label><br />
	<f:form.textfield property="lienhe" /><br />
<label for="emaillienhe">
	<f:translate key="tx_thosuachua_domain_model_nhomtho.emaillienhe" />
</label><br />
	<f:form.textfield property="emaillienhe" /><br />
<label for="trangweb">
	<f:translate key="tx_thosuachua_domain_model_nhomtho.trangweb" />
</label><br />
	<f:form.textfield property="trangweb" /><br />