
<table class="tx-thosuachua" >
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_nhomtho.ten" />
		</td>
		<td>
		{nhomtho.ten}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_nhomtho.mieuta" />
		</td>
		<td>
		{nhomtho.mieuta}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_nhomtho.tailieu" />
		</td>
		<td>
				<a href="{nhomtho.tailieu.originalResource.publicUrl}">
					{nhomtho.tailieu.originalResource.name}
				</a>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_nhomtho.diachi" />
		</td>
		<td>
		{nhomtho.diachi}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_nhomtho.sonha" />
		</td>
		<td>
		{nhomtho.sonha}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_nhomtho.email" />
		</td>
		<td>
		{nhomtho.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_nhomtho.dienthoai" />
		</td>
		<td>
		{nhomtho.dienthoai}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_nhomtho.lienhe" />
		</td>
		<td>
		{nhomtho.lienhe}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_nhomtho.emaillienhe" />
		</td>
		<td>
		{nhomtho.emaillienhe}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_nhomtho.trangweb" />
		</td>
		<td>
		{nhomtho.trangweb}
		</td>
	</tr>
</table>