
<label for="title">
	<f:translate key="tx_thosuachua_domain_model_viectimtho.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="noidung">
	<f:translate key="tx_thosuachua_domain_model_viectimtho.noidung" />
</label><br />
	<f:form.textarea property="noidung" cols="40" rows="15" /><br />
<label for="hinhanh">
	<f:translate key="tx_thosuachua_domain_model_viectimtho.hinhanh" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="tailieu">
	<f:translate key="tx_thosuachua_domain_model_viectimtho.tailieu" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />
<label for="tennguoitim">
	<f:translate key="tx_thosuachua_domain_model_viectimtho.tennguoitim" />
</label><br />
	<f:form.textfield property="tennguoitim" /><br />
<label for="mieutacongviec">
	<f:translate key="tx_thosuachua_domain_model_viectimtho.mieutacongviec" />
</label><br />
	<f:form.textarea property="mieutacongviec" cols="40" rows="15" /><br />
<label for="diachi">
	<f:translate key="tx_thosuachua_domain_model_viectimtho.diachi" />
</label><br />
	<f:form.textfield property="diachi" /><br />
<label for="email">
	<f:translate key="tx_thosuachua_domain_model_viectimtho.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="phone">
	<f:translate key="tx_thosuachua_domain_model_viectimtho.phone" />
</label><br />
	<f:form.textfield property="phone" /><br />
<label for="fax">
	<f:translate key="tx_thosuachua_domain_model_viectimtho.fax" />
</label><br />
	<f:form.textfield property="fax" /><br />
<label for="www">
	<f:translate key="tx_thosuachua_domain_model_viectimtho.www" />
</label><br />
	<f:form.textfield property="www" /><br />
<label for="lienhe">
	<f:translate key="tx_thosuachua_domain_model_viectimtho.lienhe" />
</label><br />
	<f:form.textfield property="lienhe" /><br />
<label for="batdau">
	<f:translate key="tx_thosuachua_domain_model_viectimtho.batdau" />
</label><br />
	<f:form.textfield property="batdau" /><br />
<label for="ketthuc">
	<f:translate key="tx_thosuachua_domain_model_viectimtho.ketthuc" />
</label><br />
	<f:form.textfield property="ketthuc" /><br />