
<table class="tx-thosuachua" >
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_viectimtho.title" />
		</td>
		<td>
		{viectimtho.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_viectimtho.noidung" />
		</td>
		<td>
		{viectimtho.noidung}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_viectimtho.hinhanh" />
		</td>
		<td>
				<f:image src="{viectimtho.hinhanh.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_viectimtho.tailieu" />
		</td>
		<td>
				<a href="{viectimtho.tailieu.originalResource.publicUrl}">
					{viectimtho.tailieu.originalResource.name}
				</a>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_viectimtho.tennguoitim" />
		</td>
		<td>
		{viectimtho.tennguoitim}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_viectimtho.mieutacongviec" />
		</td>
		<td>
		{viectimtho.mieutacongviec}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_viectimtho.diachi" />
		</td>
		<td>
		{viectimtho.diachi}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_viectimtho.email" />
		</td>
		<td>
		{viectimtho.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_viectimtho.phone" />
		</td>
		<td>
		{viectimtho.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_viectimtho.fax" />
		</td>
		<td>
		{viectimtho.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_viectimtho.www" />
		</td>
		<td>
		{viectimtho.www}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_viectimtho.lienhe" />
		</td>
		<td>
		{viectimtho.lienhe}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_viectimtho.batdau" />
		</td>
		<td>
		{viectimtho.batdau}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_viectimtho.ketthuc" />
		</td>
		<td>
		{viectimtho.ketthuc}
		</td>
	</tr>
</table>