
<table class="tx-thosuachua" >
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_thotimviec.title" />
		</td>
		<td>
			{thotimviec.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_thotimviec.noidung" />
		</td>
		<td>
			{thotimviec.noidung}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_thotimviec.hinhanh" />
		</td>
		<td>
			{thotimviec.hinhanh.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_thotimviec.tailieu" />
		</td>
		<td>
			{thotimviec.tailieu.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_thotimviec.tennhomtho" />
		</td>
		<td>
			{thotimviec.tennhomtho}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_thotimviec.mieutacty" />
		</td>
		<td>
			{thotimviec.mieutacty}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_thotimviec.diachi" />
		</td>
		<td>
			{thotimviec.diachi}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_thotimviec.email" />
		</td>
		<td>
			{thotimviec.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_thotimviec.phone" />
		</td>
		<td>
			{thotimviec.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_thotimviec.fax" />
		</td>
		<td>
			{thotimviec.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_thotimviec.www" />
		</td>
		<td>
			{thotimviec.www}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_thotimviec.lienhe" />
		</td>
		<td>
			{thotimviec.lienhe}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_thotimviec.batdau" />
		</td>
		<td>
			{thotimviec.batdau -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_thotimviec.ketthuc" />
		</td>
		<td>
			{thotimviec.ketthuc -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_thotimviec.batdauvalue" />
		</td>
		<td>
			{thotimviec.batdauvalue}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_thosuachua_domain_model_thotimviec.ketthucvalue" />
		</td>
		<td>
			{thotimviec.ketthucvalue}
		</td>
	</tr>
</table>