

<div data-example-id="table-within-panel" class="bs-example" style="margin-top:8px;">
    <div class="panel panel-default">
        <div class="panel-heading" style="background: #36AD33; font-size:18px; font-weight: bold;color: #FFFF00; padding: 13px 11px; "><b>Nội Dung</b></div>
        <div class="panel-body"> 
        </div>    
        <table class="table"  > 
            <tbody > 
                <tr> 
                    <td   class="detailinfo1">Tiêu Đề</td> 
                    <td class="detailinfo"><b>{thotimviec.title}</b></td>   
                </tr> 

                <tr> 
                    <td class="detailinfo1">Nội Dung</td>
                    <td class="detailinfo"><b  style="font-size: 17px">{thotimviec.noidung}</b></td> 
                </tr> 
                <tr> 
                    <td   class="detailinfo1"></td>
                    <td class="detailinfo" style="font-size: 1.1em"><f:format.html>{thotimviec.mieutacty}</f:format.html></td>  
                </tr> 
                <tr> 
                    <td   class="detailinfo1">Địa Chỉ liên hệ</td> 
                    <td class="detailinfo">{thotimviec.diachi} 
                </tr>
                <tr> 
                    <td  class="detailinfo1">E-mail</td> 
                    <td class="detailinfo">{thotimviec.email}</td> 
                </tr> 
                <tr> 
                    <td class="detailinfo1">Điện thoại</td> 
                    <td class="detailinfo">{thotimviec.phone}</td> 
                </tr> 
                <tr> 
                    <td class="detailinfo1">Fax</td> 
                    <td class="detailinfo">{thotimviec.fax}</td> 
                </tr> 
                <tr>        
                    <td  class="detailinfo1">Địa chỉ trang Web</td> 
                    <td class="detailinfo">{thotimviec.www}</td> 
                </tr> 

            </tbody> 

        </table>
        <br>

    </div> 
    <div class="row">   
        <div class="col-md-12">
            <a href="{listhomeurl}" class="pull-left btn btn-primary"  style="font-weight: bold;font-size: 16px;" ><< Quay lại</a>
        </div>     
    </div>
</div>

<br><br>    <br><br>    <br><br>    <br><br>
